:root {
  --white: white;
  --gray: #858585;
  --light-gray: #eaeaea;
  --light-blue: #2d6ef0;
  --error-color: red;
  --background-blue: #3090ec;
  --background-blue-light: #43a8fd;
  --background-white: white;
  --background-dashboard: white;
  --background-menu-item-color: #4c83f3;
  --backround-color-resume-element: #e7e7e7
}
