.info {
  flex-direction: row;
  justify-content: start;
}

.info > p:first-child {
  margin-right: 0.5rem;
  font-weight: bold;
}

.info > p:nth-child(3) {
  margin-left: 0.5rem;
}

#panel-info {
  flex-direction: row;
  justify-content: space-between;
}

#general-info {
  flex-direction: column;
  justify-content: space-between;
}

#general-info, #panel-info, .info {
  display: flex;
}
