@import url("/assets/css/color.css");

#content {
  display: flex;
  flex-direction: column;
}

#header, #main-panel {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#button-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0.2;
}

#main-panel {
  margin: 0.8rem 0rem;
  justify-content: space-between;
}

#central-info {
  flex-grow: 0.6;
}

#right-info {
  flex-grow: 0.38;
}

.data-container {
  border: solid 2px var(--gray);
  padding: 0.2rem;
}

