:root {
  --background-dashboard: white;
}

#main-content {
  background-color: var(--background-dashboard);
  flex: 4;
  padding-left: 1rem;
  padding-top: 1rem;
}

#main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#navigation {
  flex: 1;
}

#dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
