<nav>
  <a alt="Dashboard" href="./home">
    <img alt="logo.png" src="/assets/images/logo.png" width="256px" />
  </a>
  <ul id="navigation-list">
    <li class="menu-link">
      <a alt="Dashboard" href="./home">Dashboard</a>
    </li>
    <li class="menu-link">
      <a alt="Container" href="./containers">Container</a>
    </li>
    <li class="menu-link">
      <a alt="Images" href="./images">Images</a>
    </li>
    <li class="menu-link">
      <a alt="Settings" href="./settings">Settings</a>
    </li>
  </ul>
</nav>
