<html>

<head>
  {{template "head.html" .}}
  <link rel="stylesheet" href="/assets/css/container_inspect.css" />
</head>

<body>
  <div id="main">
    <div id="navigation">
      {{template "bar_menue.html" .}}
    </div>
    <div id="main-content">
      <h1>Inspect Container</h1>
      <div id="content">
        <div id="header">
          <div class="data-container" id="button-header">
            <input type="button" value="Start" />
            <input type="button" value="Stop" />
            <input type="button" value="Kill" />
            <input type="button" value="Pause" />
          </div>
        </div>
        <div id="main-panel">
          <div class="data-container" id="central-info">
          </div>
          <div class="data-container" id="right-info">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
