<html>

<head>
  {{template "head.html" .}}
  <link rel="stylesheet" href="./assets/css/dashboard.css" />
  <link rel="stylesheet" href="./assets/css/resume_element.css" />
</head>

<body>
  <div id="main">
    <div id="navigation">
      {{template "bar_menue.html" .}}
    </div>
    <div id="main-content">
      <h1>Dashboard</h1>
      <div id="dashboard">
        <div hx-get="/docker/resume/containers" hx-trigger="load" hx-swap="outerHTML" hx-target="this">
        </div>
        <div hx-get="/docker/resume/images" hx-trigger="load" hx-swap="outerHTML" hx-target="this">
        </div>
        <div hx-get="/docker/resume/networks" hx-trigger="load" hx-swap="outerHTML" hx-target="this">
        </div>
        <div hx-get="/docker/resume/volumes" hx-trigger="load" hx-swap="outerHTML" hx-target="this">
        </div>
      </div>
    </div>
  </div>
</body>

</html>
