<!DOCTYPE html>
<html lang="en">

<head>
  {{template "head.html" . }}
  <link rel="stylesheet" href="./assets/css/login.css" />
  <title>Login</title>
</head>

<body>
  <div id="root-container">
    <form id="connection" hx-post="/login" hx-target="#error-connection-div" hx-swap="innerHTML">
      <div id="header-connection">
        <h1 id="title-connection">Docker-Site</h1>
        <img id="docker-logo" src="./assets/images/docker-logo.png" alt="docker logo" width="200px" />
      </div>
      <div id="credentials">
        <div class="connection-field">
          <label for="username">Username :</label>
          <input class="text-box" id="username-field" name="username" type="text" placeholder="username" />
        </div>
        <div class="connection-field">
          <label for="password">Password :</label>
          <input class="text-box" id="password-field" name="password" type="password" placeholder="password" />
        </div>
      </div>
      <div class="connection-field">
        <input id="submit-button" type="submit" value="Log in" />
      </div>
      <div id="error-connection-div">
      </div>
    </form>
    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </div>
</body>

</html>
